*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url('/img2.webp');
    background-size: cover;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
 .navbar a{
    text-decoration: none;
    color:rgb(72, 20, 20);
    padding: 10px 20px;
    font-size: 1.2em;
    position: relative;
 }
 .navbar a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
 }
 .navbar a:hover::before{
    width: 90%;
 }
 .Pagelogo{
    font-size: 1.5em;
    letter-spacing: 2px;
 }
 .register a{
    text-decoration: none;
    color:white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: indianred;
    transition: 0.4s linear;

 }
 .register a:hover{
    background: transparent;
    border: 1px solid indianred;
 }
 .headerText{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
 }
 .headerText span{
    font-size: 2em;
    letter-spacing: 5px;
 }
 .headerText h1{
    font-size: 3.6em;
 }
 .main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
 }
 .about{
    padding: 10px;
    width: 40vw;
   line-height: 1.8rem ;
   font-size: 1.4rem ;
 }
 .img{
    background-color: white;
 }
 .footer{
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.697);

 }
 .footer p{
    font-size: 1.4rem; 
    text-align: center;
    margin-top: 30px;
    padding: 20px;
 }