* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body{
    font-family: "Playwrite DE Grund", cursive;
}
.container{
     width: 500px;
     margin: auto;
     height: 400px;
     margin-top: 70px;
     padding: 1.5rem;
    background-color: beige; 
    border: 2px solid black;
    border-radius: 14px;
    display: grid;
    gap: 1.8em;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr); 
}
.button{
    background-color:rgb(66, 66, 137);
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 3px;
    font-size: 28px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp{
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid rgb(145, 105, 105);
}
 h1{
    margin-top: 80px;
    font-size: 2rem;
    text-align: center;
 }
