* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   background-color: antiquewhite;
}
header {
  width: 100vw;

} 
.logo {
  font-size: 3.5rem;
   padding-top: 40px;
   padding-left: 40px;
}
header p {
  font-size: 1.5rem;
  width: 600px;
  margin: 60px;
  padding: 10px;
  /* letter-spacing: 1px; */
  line-height: 2rem;
  font-family:sans-serif;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 40px;
}
.about h2 {
  font-size: 2.5rem;
  margin-left: 100px;
}

.about img {
  width: 20rem;
  border-radius: 50%;
}
.about p {
  font-size: 1.4em;
  line-height: 2.5rem;
  width: 500px;
  margin: 10px;
  padding: 5px;
}
.description {
  font-size: 2.5rem;
  margin-top: 55px;
  margin-left: 210px;
  padding: 30px;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skills h3 {
  font-weight: 600;
}
.skills ul {
  padding-left: 40px;
}
.skills ul li {
  list-style: circle;
  margin: 10px;
}
.works{
   margin-top: 80px; 
   font-size: 3rem;
   text-align: center;
   font-style: italic;
}
.amazon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.amazon h4{
   font-size: 1.8rem;
   margin: 10px;
}
.amazon p{
   line-height: 1.8rem;
   font-size: 1.1rem;
   width: 500px;
}
.amazon img {
   margin-top: 70px;
  width: 30vw;
}
.clock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.clock h4{
   font-size: 1.8rem;
   margin: 10px;
}
.clock p{
   line-height: 1.8rem;
   font-size: 1.1rem;
   width: 500px;

}
.clock img {
   margin-top: 70px;
  width: 30vw;
}
.game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.game h4{
   font-size: 1.8rem;
   margin: 10px;
}
.game p{
   line-height: 1.8rem;
   font-size: 1.1rem;
   width: 500px;

}
.game img {
   margin-top: 70px;
  width: 30vw;
}

.contact{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 60px;
}
.contact .resume a{
   text-decoration: none;
   color: lightblue;
   padding: 16px;
   border-radius: 12px;
   background-color: blue;
   color: white;
}
.contact button{
   font-size: 2rem;
   margin-right: 40px;
   margin: 50px;
} 
.contact .num h3{
   margin: 20px;
   font-size: 2.2rem;
}
.contact .num p{
   margin: 10px;
   font-size: 1.2rem;
}
.footer{
   background-color: rgb(138, 106, 167);
   width: 100%; 
   margin-top: 50px;
}
.footer .link{
   display: flex;
   justify-content: space-evenly;
   align-items: center; 
}
.link{
   margin-top: 50px;
}
.footer .link a{
   text-decoration: none;
   color: white;
   margin-top: 20px;
   font-size: 1.3rem;
} 
footer p{
   color: rgba(0, 0, 0, 0.84);
   font-size: 1.2rem; 
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}